.containerTitulo {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    /* height: 8rem; */
    border: 0.5rem solid #f00;
    padding: 1rem;
}

.txtTitulo {
    color: #f00;
}
